<footer class="text-left pt-5 pl-5 pb-5 border-top ">
    <div class="row mx-0">
      <div class="col-12 ">
        <h6><strong>Instagram :</strong><span style="color: rgba(255, 255, 255, 0.594) ;"><a class="text-decoration-none" href="https://tryhackme.com/module/linux-fundamentals"> tryhackme</a></span></h5>
        <h6>Email address: <span style="color: rgba(255, 255, 255, 0.594) ;">beka.ibrashev@gmail.com</span></h5>
      </div>
      <div class="col-6">
        <h6>Contact Us :<span style="color: rgba(255, 255, 255, 0.594) ;"> +55-8481-948-481</h5>
        <h6>Email address: <span style="color: rgba(255, 255, 255, 0.594) ;">beka.ibrashev@gmail.com</span></h5>
      </div>
      <div class="col-6">
        <p class="h5 text-white">Корпорация по созданию ИИ<p>
        <lead class="text-white-50">IBtech corporation provides differnet types of management based on IT development. Our company deals with easiest way of hardest issues</lead>
      </div>
    </div>
</footer>
  





