


h5 ,h6{
    color: rgb(166, 200, 217);
    
}

h4{
    font-family:Avantgarde, TeX Gyre Adventor, URW Gothic L, sans-serif
}

footer{
	background-color:black;
	height: auto;
	width: 100%;
	margin: 0 auto;
	padding-top: 20px;
	
}